{% extends "NZZMyTownBundle::Admin/layout.html.twig" %}
 {% block body %}
     <div class="container">
         <form class="form" action="{{ path('nzz_my_town_admin_save_project') }}" method="post" {{ form_enctype(form) }}>
             {{ form_errors(form) }}
             {{ form_widget(form) }}
         </form>
     </div>
 {% endblock %}
