/bin
.idea/
/nbproject
/build/
build.xml
/doc/
/app/cache/*
/app/logs/*
/app/propel
/app/tmp
/web/bundles
/web/css
/web/js
/components
/web/assetic
/web/uploads/*
.settings/*
.buildpath
.project
/*.tmproj
cscope.out
/vendor/*
app/*.cache
app/phpunit.xml
/app/config/parameters.yml
test/phpunit.xml
tests/*Bundle*
/gitflow
.DS_Store
mapmytown.sublime-workspace
