{% extends "NZZMyTownBundle::layout.html.twig" %}
 {% block body %}
     <div class="container">
         <div class="jumbotron">
            <h1>Welcome to MyTowm Project</h1>
         </div>
    </div>
 {% endblock %}
