{% extends "::app_base.html.twig" %}
{% block stylesheets %}
    {% stylesheets filter='?yui_css' output='css/*.css'
    'bundles/nzzmytown/css/vendor/bootstrap/css/bootstrap.min.css'
    'bundles/nzzmytown/css/vendor/bootstrap/css/bootstrap-responsive.css'
    'bundles/nzzmytown/css/base/layout.css'
    'bundles/nzzmytown/css/base/typography.css'
    'bundles/nzzmytown/css/components/entry.css'
    'bundles/nzzmytown/css/components/header.css'
    'bundles/nzzmytown/css/components/footer.css'
    'bundles/nzzmytown/css/components/map.css'
    'bundles/nzzmytown/css/components/sidebar.css'
    'bundles/nzzmytown/css/components/comments.css'
    'bundles/nzzmytown/css/components/branding.css'
    'bundles/nzzmytown/css/app.css'
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
    <!--[if lte IE 8]>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
    <![endif]-->
 {% endblock %}
{% block header%}
    <div class="page-header">
        <div class="text-center">
            <a class="btn btn-inverse" href="{{ path('nzz_my_town_admin_dashboard') }}"> <h1>Welcome to Map My Towm Project</h1></a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    {% javascripts filter='?yui_js' output='js/*.js'
          'bundles/nzzmytown/js/vendor/bootstrap/js/bootstrap.min.js'
          'bundles/nzzmytown/js/vendor/underscore/underscore-min.js'
          'bundles/nzzmytown/js/vendor/backbone/backbone.js'
          'bundles/nzzmytown/js/vendor/i18next/i18next-1.6.3.min.js'
          'bundles/nzzmytown/js/vendor/handlebars/handlebars.js'
          'bundles/nzzmytown/js/utils/BackboneExtensions.js'
          'bundles/nzzmytown/js/utils/HandlebarsHelpers.js'
          'bundles/nzzmytown/js/ui.js'
          'bundles/nzzmytown/js/app.js'
          'bundles/nzzmytown/js/views/RootView.js'
          'bundles/nzzmytown/js/views/MapView.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
