{% extends "NZZMyTownBundle::Admin/layout.html.twig" %}
{% block body %}
    {% set target = app.request.server.get('HTTP_REFERER') %}
    <div class="container alert">
        <div class="span10" style="margin: 0 auto;">
            {% if error %}
                <div class="warning">
                    <p class="text-error">{{ error.message }}</p>
                </div>
            {% endif %}
            <form action="{{ path('login_check') }}" class="text-center" method="post">
                <label for="username">Username:
                    <input type="text" id="username" placeholder="Username" name="_username" value="{{ last_username }}" />
                </label>
                <label for="password">Password:
                    <input type="password" id="password" placeholder="Password" name="_password" />
                </label>
                <button class="btn clear" type="submit">login</button>
                {#<input type="hidden" name="_target_path" value="{{ target }}" />#}
            </form>
        </div>
    </div>
{% endblock %}