/**
 * COMMENTS
 * Styling for the comments list
 */
 .comments__section{
  padding-left: 0;
  padding-right: 0;
  border: none;
 }
 .comments__list{
  list-style: none;
  /* Height of the header and height of the footer*/
  margin: 0;
  padding: 0;
}
.comments__list li.selected{
    color: #fff;
    background: #999;
    border: none;
}
.comments__list li.positive{
  background: #6060A0;
}
.comments__list li.negative{
  background: #EC0035;
}
.comments__item{
  border-bottom: 1px solid #E6E5DC;
  padding: 10px 20px;
}
.comment__title{
  font-size: 16px;
  line-height: 24px;
  display: inline;
  margin: 0;
}
.comment__text{
  font-size: 16px;
  line-height: 24px;
  display: inline;
  margin: 0;
}
.comment__author{
  font-style: italic;
  font-size: 12px;
  line-height: 24px;
}
