/**
 * FOOTER
 * Styling for the story introduction in the application footer
 */
.footer {
  width: 400px;
  position: absolute;
  bottom: 0;
  z-index: 300;
  -webkit-box-shadow:  0px -2px 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow:  0px -2px 4px 0px rgba(0, 0, 0, 0.2);
}