/**
 * HEADER
 * Styling for the application header
 */
.header{
  padding: 0 20px 10px;
  border-bottom: 1px solid #ddd;
}
.header__heading{
  color: #3C9AFB;
  font-size: 32px;
  font-weight: 300;
  line-height: 38px;
}
.header__subheading{
}
.header__form{
  display: inline;
}