/**
 * HEADER
 * Styling for the application header
 */
.header{
  padding: 0 20px 10px;
  border-bottom: 1px solid #ddd;
}
.header__heading{
  font-size: 18px;
  line-height: 1.5;
}
.header__subheading{
  font-weight: normal;
}
.header__form{
  display: inline;
}