/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  .span-sidebar-left{
    margin-left: 0;
  }
  .footer {
    width: 100%;
    -webkit-box-shadow:  0px -2.5px 0px 2.5px rgba(0, 0, 0, 0.2);
            box-shadow:  0px -2.5px 0px 2.5px rgba(0, 0, 0, 0.2);
  }
  .sidebar{
    position: fixed;
    height: auto;
    overflow: auto;
    width: 100%;
    -webkit-box-shadow:  0px 2.5px 0px 2.5px rgba(0, 0, 0, 0.2);
            box-shadow:  0px 2.5px 0px 2.5px rgba(0, 0, 0, 0.2);
  }
  .comments__section{
    padding: 0;
    border: none;
  }
  .comments__list li{
    display: none;
  }
  .comments__list li.selected{
    display: block;
    padding: 10px 20px;
    border: none;
  }
  .sharing__section{
    font-size: 12px;
  }
  .branding__section{
    font-size: 12px;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
  
}