/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #map{
    display: block;
    height:100%;
    margin: 0;
    position: relative;
    width: 100%;
  }
  .span-sidebar-left{
    margin-left: 0;
  }
  .header__heading{
    font-size: 20px;
    line-height: 24px;
  }
  .header .sidebar__text{
    font-size: 16px;
    line-height: 24px;
  }
  a.btn-primary,
  .btn-primary{
    font-size: 16px;
    line-height: 24px;
  }
  a.btn-secondary,
  .btn-secondary{
    font-size: 16px;
    line-height: 24px;
  }

  .footer {
    -webkit-box-shadow:  0px -2.5px 0px 2.5px rgba(0, 0, 0, 0.2);
            box-shadow:  0px -2.5px 0px 2.5px rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  .sidebar{
    -webkit-box-shadow:  0px 2.5px 0px 2.5px rgba(0, 0, 0, 0.2);
            box-shadow:  0px 2.5px 0px 2.5px rgba(0, 0, 0, 0.2);
    height: auto;
    overflow: auto;
    position: fixed;
    width: 100%;
  }
  .sidebar .header {
    position: static;
    height: auto;
    width: auto;
  }
  .sidebar .comments__list {
    position: static;
    height: auto;
    width: auto;
    max-height: 100px;
  }
  .comments__section{
    border: none;
    padding: 0;
  }
  .comment{
    display: none;
  }
  .comment.selected{
    border: none;
    display: block;
    padding: 10px 20px;
  }
  .sharing__section{
    font-size: 12px;
  }
  .branding__section{
    font-size: 12px;
  }
  .leaflet-control-attribution {
    bottom: 40px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
}

@media screen and (max-height: 640px) {
}

@media screen and (max-height: 320px) {
}
