/**
 * SIDEBAR
 * Styling for the sidebar
 */
.sidebar {
  background: #FCF9EE;
  -webkit-box-shadow:  2.5px 0px 0px 2.5px rgba(0, 0, 0, 0.2);
          box-shadow:  2.5px 0px 0px 2.5px rgba(0, 0, 0, 0.2);
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0;
  width: 400px;
  z-index: 200;
}

.sidebar .header {
  background: #FCF9EE;
  left: 0;
  padding-bottom: 30px;
  position: fixed;
  width: 360px;
  z-index: 20;
}

.span-sidebar-left{
  margin-left: 400px;
}
.sidebar__section{
  background: #FCF9EE;
  border-bottom: 1px solid #E6E5DC;
  clear: both;
  padding: 20px;
}
.sidebar__text{
  font-size: 16px;
}
.sidebar__heading{
  font-size: 14px;
  line-height: 1;
  margin: 1em 0 0;
}

.sidebar__beta {
  position: absolute; top: 0; right: 6px;
  background: #3C9AFB;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  padding: 0 8px 1px 8px;
  text-transform: uppercase;
}

/* State minimized */
.sidebar .sidebar__help {
  display: none;
}
.sidebar.sidebar--minimized {
  height: auto;
  padding-top: 10px;
}
.sidebar.sidebar--minimized .sidebar__info,
.sidebar.sidebar--minimized .sidebar__comments {
  display: none;
}
.sidebar.sidebar--minimized .sidebar__help {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
}
