/**
 * SIDEBAR
 * Styling for the sidebar
 */
.sidebar{
  position: fixed;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  left: 0px;
  width: 400px;
  z-index: 200;
  background: #FCF9EE;
  -webkit-box-shadow:  2.5px 0px 0px 2.5px rgba(0, 0, 0, 0.2);
          box-shadow:  2.5px 0px 0px 2.5px rgba(0, 0, 0, 0.2);
}
.span-sidebar-left{
  margin-left: 400px;
}
.sidebar__section{
  background: #FCF9EE;
  padding: 20px;
  border-bottom: 1px solid #E6E5DC;
  clear: both;
}
.sidebar__text{
  font-size: 16px;
}
.sidebar__heading{
  font-size: 14px;
  line-height: 1;
  margin: 1em 0 0;
}

/* State minimized */
.sidebar .sidebar__help {
  display: none;
}
.sidebar.sidebar--minimized {
  height: auto;
}
.sidebar.sidebar--minimized .sidebar__info,
.sidebar.sidebar--minimized .sidebar__comments {
  display: none;
}
.sidebar.sidebar--minimized .sidebar__help {
  display: block;
}
